.DS_Store
Desktop.ini
Thumbs.db

.Spotlight-V100
.Trashes

._*
*.out
*.pyc
*.log

node_modules
Pipfile

venv/
__pycache__/
instance/
htmlcov/
dist/
build/
static/

*.egg-info/
.pytest_cache/

.sass-cache
.coverage
.vscode
.env
